<div class="container-fluid">
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <%= form_for Topic.new do |f| %>
        <div class="form-group">
          <%= f.text_area :content, size: '30x3', placeholder: '今なにしてる？', class: 'form-control' %>
        </div>
        <%= f.submit '投稿する', class: 'btn btn-primary pull-right' %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <% @topics.each do |topic| %>
        <%= topic.user.name %>
        <%= simple_format topic.content %>
        <% topic.comments.each do |comment| %>
          <%= comment.user.name %>
          <%= comment.content %>
        <% end %>
        <%= form_for [topic, Comment.new] do |f| %>
          <%= f.text_field :content, placeholder: 'コメントする', class: 'form-control' %>
          <%= hidden_field_tag 'comment[user_id]', current_user.id %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
